body {
    font: 16px Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 1em;
    background-color: black;
    color: #ffffff;
}

header {
    background: black;
    color: #ffffff;
    padding: 1em 0;
    text-align: left;
    line-height: 1;
    text-align: center;
}

li {
    list-style-type: none;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

section > ul > li {
    margin: 0.5em 0;
}